body {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    /*align-items: center; /* Centra verticalmente */ /* Altura del 100% del viewport (ventana del navegador) */
    margin: 0;
    /*background-color: #00b7ff; /* Color de fondo del cuerpo */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 900px;
    margin: auto;
}
.abajo{
    display: flex;
    flex-wrap: nowrap;

}
.izq{
    width: 120px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
}
.buttons{
    width: 200px;
    background-color: rgb(161, 161, 222);
    min-height: 400px;
    border-right: 1px solid black;
}
.button_section2{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    gap: 5px;
}
.button2{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    text-decoration: none;
}
.der{
width: 780px;
background-color: white;
border: 1px solid black;
justify-content: center; 
align-items: center;
flex-direction: column;
display: flex;
}
.ultimo{
width: 900px;
height: 20px;
background-color: blue;
text-align: left;
border: 1px solid black;
}
#mensaje {
    margin-top: 20px;
}

button {
    width: 90px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 0 auto; /* Centra el tablero */
}
.botones3{
    width: 60px;
    height: 20px;
}